.footer {
  background-color: var(--g3);
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 120px;
}

.footer-logo {
  width: 260px;
  height: auto;
}

.footer-ul-endereço {
  padding-top: 20px;
}

@media (max-width: 1100px) {
  .footer-logo {
    width: 180px;
  }

  .footer-content h3 {
    font-size: 18px;
  }

  .footer-ul {
    font-size: 14px;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    text-align: center;
    gap: 40px;
  }

  .footer-detalhe {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 20px;
  }

  .footer-contato {
    grid-column: 1;
  }

  .footer-menu {
    grid-column: 2;
  }
}

@media (max-width: 500px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
}
