.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo {
  width: 180px;
  height: auto;
}

.header nav {
  gap: 80px;
  position: relative;
}

.header a {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu li {
  position: relative;
}

.header-menu li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--p7);
  transition: 0.3s;
  position: absolute;
}

.header-menu li a:hover:after {
  width: 100%;
}

#header-menu2::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 50px;
  top: -10px;
  right: 300px;
  border-radius: 10px;
  background-color: var(--g3);
}

.bi .bi-list {
  display: none;
}

@media (max-width: 1100px) {
  .header {
    gap: 40px;
  }

  .header nav {
    padding-right: 40px;
  }

  .header-logo {
    width: 150px;
  }

  #header-menu2 {
    display: none;
  }

  .bi-list {
    display: block;
    width: 40px;
    height: 40px;
    fill: var(--g9);
  }
}

@media (max-width: 800px) {
  .header {
    gap: 5rem;
    padding-left: 50px;
  }
  
  .header-menu {
    display: none;
  }

  .header-logo{
    width: 120px;
  }

  .bi-list {
    width: 64px;
    height: 64px;
  }
}
